.Modal {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	overflow: auto;
	left: 0;
	position: fixed;
	padding-top: 100px;
	top: 0;
	width: 100%;
	z-index: 1;
}

.Content {
	align-items: center;
	background-color: #fefefe;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
	justify-content: center;
	margin: auto;
	padding-bottom: 1rem;
	width: 30vw;
}

.Question {
	background: rgb(131, 58, 180);
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	color: white;
	font-weight: bolder;
	padding: .25rem;
	text-align: center;
	width: 100%;
}

.Answers {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.AnswerMultiple {
	border: 1px solid gray;
	border-radius: 50px;
	display: block;
	margin: 10px;
	padding: 1rem 4rem 1rem 4rem;
	text-align: left;
	width: 100%;
}

.AnswerMultiple:hover {
	background-color: rgb(255, 196, 174);
}

.AnswerMultiple > input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	margin: 0;
}

.ChoiceLetter {
	background-color: #fb651e;
	border: 2px solid #fb651e;
	border-radius: 50%;
	color: white;
	display: inline-block;
	height: 2rem;
	text-align: center;
	width: 2rem;
}

.AnswerBinary {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	justify-items: start;
	margin: 2rem;
	width: 100%;
}

.AnswerBinaryLeft {
	border: 1px solid #833ab4;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	color: #833ab4;
	display: block;
	padding: 1rem;
	width: 100%;
}

.AnswerBinaryLeft:hover {
	background-color: lavender;
}

.AnswerBinaryRight {
	border: 1px solid #fd1d1d;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	color: #fd1d1d;
	display: block;
	padding: 1rem;
	width: 100%;
}

.AnswerBinaryRight:hover {
	background-color: rgb(255, 196, 174);
}

.AnswerBinary input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	margin: 0;
}
